
.yb-app-link {
	display:inline-block;
	margin:12px 6px;
	padding:10px;
	border:1px solid #AAAAAA;
	color:#000;
	text-decoration:none;
	border-radius:5px;
	
	background: #ffffff; /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MiUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjRmNGY0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);

background: -moz-linear-gradient(top,  #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ffffff), color-stop(50%,#f6f6f6), color-stop(52%,#eeeeee), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #ffffff 20%,#f6f6f6 50%,#eeeeee 52%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #ffffff 20%,#f6f6f6 50%,#eeeeee 52%,#f4f4f4 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #ffffff 20%,#f6f6f6 50%,#eeeeee 52%,#f4f4f4 100%); /* IE10+ */

background: linear-gradient(to bottom,  #ffffff 20%,#f6f6f6 50%,#eeeeee 52%,#f4f4f4 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-8 */
	
}

	.yb-app-link:hover {
		
		color:#000;
		
		background: #dadada; /* Old browsers */

		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RhZGFkYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5YzlkOWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #dadada 0%, #9c9d9d 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dadada), color-stop(100%,#9c9d9d)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #dadada 0%,#9c9d9d 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #dadada 0%,#9c9d9d 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #dadada 0%,#9c9d9d 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #dadada 0%,#9c9d9d 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dadada', endColorstr='#9c9d9d',GradientType=0 ); /* IE6-8 */
	
	}


.yb-half-column {
	display:inline-block;
	width:48%;
	vertical-align:top;
	padding-right:1%;
}

	@media screen and (max-width: 1024px) {
		.yb-half-column {
			display:inline-block;
			width:99%;
			vertical-align:top;
			padding-right:1%;
		}	
	}

		.yb-stat-block {
			display:inline;
			float:left;
			font-size:1.1em;
			margin:0 20px 10px 0;	
		}
			
			.yb-stat-block a {
				display:block;	
			}
		
			.yb-stat-block-num {
				font-size:1.8em;
				font-weight:strong;
				text-align:center;
				width:100%;
				display:block;	
			}
		
	
	#yb-page #yb-recent-content-wrap {
		/*min-width:70%;
		max-width:80%;*/
		display:inline-block;
		margin:10px 0;
		width:98%;
	}
	
		
		#yb-recent-content-wrap .yb-revision-status {
			height:16px;
			width:16px;
			padding:0;
			margin-right:8px;
			display:inline-block;
			position:relative;
			border-radius:5px;
			box-shadow:inset 0px 0px 5px 0px #666;
		}
		
		.yb-revision-status.red {
			background-color:#930;	
		}
		
		.yb-revision-status.orange {
			background-color:#F90;	
		}
		
		.yb-revision-status.green {
			background-color:#6C3;	
		}
		
		
/*		
@media screen and (max-width: 1024px) {
	#yb-page #yb-recent-content-wrap {
		min-width:85%;
		max-width:95%;	
	}
}
*/	
	#yb-recent-content-wrap li {
	
		list-style-type:none;	
		/*background-color:#efefef;*/
		background: rgb(255,255,255); /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */



		text-align:left;
		color:#481d90;
		padding:8px;
		border-bottom:1px solid #dadada;
		border-left:1px solid #c2c2c2;
		border-right:1px solid #c2c2c2;
		margin:0;
		width:100%;	
	}
		#yb-recent-content-wrap li.first {
			border-top:1px solid #c2c2c2;
			border-top-left-radius:5px;
			border-top-right-radius:5px;
			padding-top:8px;	
		}
		
		#yb-recent-content-wrap li.last {
			border-bottom:1px solid #c2c2c2;
			border-bottom-left-radius:5px;
			border-bottom-right-radius:5px;	
			padding-bottom:8px;	
		}
		
		
	#yb-recent-content-wrap li a {
		 /*color: #481D90;*/
   		 display: block;
    	 left: 25px;
    	 margin-top: -22px;
    	 position: relative;
    	 text-decoration: none;
    	 width: 90%;
	}
		#yb-recent-content-wrap li a:hover {
			text-decoration:underline;	
		}
	